<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Tierlist Maker</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <div class="navlink"><a href="/logout">Log out</a></div>
    </nav>

    <section id="tiers">

    </section>

    <section id="pool">

    </section>

    <div id="errorPopup" class='hidden'>
        <h3><span id="errorMessage"></span></h3>
    </div>

    <script src="/assets/appBundle.js"></script>
</body>
</html>